$categories: (
  tp: #69bb7b,//var(--ion-color-primary),
  sl: #ac282b
);

@each $track, $value in map-remove($categories) {
  ion-item[track='#{$track}'] ion-label {
    padding-left: 10px;

    border-left: 2px solid $value;
  }
}