[hidden] {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}

@font-face {
  font-display: swap;
  font-family: GoogleSans;
  src: url(https://niufx-pc-cdn.forexchat.com/pc-cdn/1735297111488/fonts/GoogleSans-Regular.bec0591b.ttf);
}

@font-face {
  font-display: swap;
  font-family: HarmonyOS_Sans_Bold;
  src: url(https://niufx-pc-cdn.forexchat.com/pc-cdn/1735297111488/fonts/HarmonyOS_Sans_Bold.e77b8085.ttf);
}

@font-face {
  font-display: swap;
  font-family: HarmonyOS_Sans_Medium;
  src: url(https://niufx-pc-cdn.forexchat.com/pc-cdn/1735297111488/fonts/HarmonyOS_Sans_Medium.4ec2fed7.ttf);
}

@font-face {
  font-display: swap;
  font-family: HarmonyOSRegular;
  src: url(https://niufx-pc-cdn.forexchat.com/pc-cdn/1735297111488/fonts/HarmonyOS_Sans_Regular.a3489da4.ttf);
}

@font-face {
  font-display: swap;
  font-family: HarmonyOSMedium;
  src: url(https://niufx-pc-cdn.forexchat.com/pc-cdn/1735297111488/fonts/HarmonyOS_Sans_Medium.d3c61b49.woff2);
}

@font-face {
  font-display: swap;
  font-family: FTSans;
  src: url(https://niufx-pc-cdn.forexchat.com/pc-cdn/1735297111488/fonts/FTsans-VariableVF.d7c634a7.ttf);
}

@font-face {
  font-display: swap;
  font-family: Inter;
  src: url(https://niufx-pc-cdn.forexchat.com/pc-cdn/1735297111488/fonts/Inter-Regular.e9b89834.otf);
}

html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
  --ion-font-family: Inter, segoe ui, Roboto, Helvetica, Arial, sans-serif;
}

html[lang="ar"] {
  --ion-font-family: Arial, Times News Roman, PingFang SC, Roboto,
    Microsoft YaHei, sans-serif;
}

html[lang="vi"] {
  --ion-font-family: Arial, Times News Roman, PingFang SC, Microsoft YaHei,
    Roboto, sans-serif;
}

html[lang="th"] {
  --ion-font-family: Sarabun, PingFang SC, Arial, Microsoft YaHei, Roboto,
    sans-serif;
}

html:where(
    [lang="jp"],
    [lang="pt"],
    [lang="it"],
    [lang="es"],
    [lang="ko"],
    [lang="id"],
    [lang="ms"],
    [lang="ru"],
    [lang="tr"],
    [lang="fr"]
  ) {
  --ion-font-family: Arial, Roboto, sans-serif;
}

.ngx-datatable,
.ngx-datatable .datatable-row-left {
  background: var(--ion-background-color, #fff);
}

.ngx-datatable {
  .datatable-body-cell {
    align-content: center;
  }
}
