$categories: (
  tp: var(--ion-color-rise),
  sl: var(--ion-color-fall)
);

@each $track, $value in map-remove($categories) {
  ion-item[track='#{$track}'] ion-label {
    padding-left: 10px;
    border-left: 2px solid $value;
  }
}

ion-fab-button {
  --background: var(--ion-color-step-150, #ffffff);
  --background-hover: var(--ion-color-step-200, #f2f2f2);
  --background-focused: var(--ion-color-step-250, #d9d9d9);
  --color: var(--ion-color-primary, #3880ff);
}

/*
 * Material Design uses the ripple for activated
 * so only style the iOS activated background
 */
.ios ion-fab-button {
  --background-activated: var(--ion-color-step-250, #d9d9d9);
}

ion-label {
  h3 {
    display: flex;
  }

  .order-type {
    font-size: x-small;
    padding: 2px 6px;
    border-radius: 3px;
    margin-left: 10px;
  }

  .buy{
    border: 1px solid var(--ion-color-rise);
    color: var(--ion-color-rise);
  }

  .sell{
    border: 1px solid var(--ion-color-fall);
    color: var(--ion-color-fall);
  }
}

.pips{
  font-size: 1rem;
  line-height: 24px;
}

.time{
  display: block;
  color: var(--ion-color-step-600, var(--ion-text-color-step-400, #666666));
}