<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment *ngIf="ios" [(ngModel)]="segment" [value]="segment">
      <ion-segment-button value="trades">
        Trades
      </ion-segment-button>
      <ion-segment-button value="orders">
        Orders
      </ion-segment-button>
      <ion-segment-button value="depo">
        Withdrawal
      </ion-segment-button>
    </ion-segment>
    <ion-title *ngIf="!ios">History</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="filterBySymbol()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
      <ion-button id="filterByDate">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment" [value]="segment">
      <ion-segment-button value="trades">
        Trades
      </ion-segment-button>
      <ion-segment-button value="orders">
        Orders
      </ion-segment-button>
      <ion-segment-button value="depo">
        Withdrawal
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">History</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Skeleton Loader -->
  <ng-container *ngIf="loading; else tradesList">
    <ion-list>
      <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9]">
        <ion-label>
          <ion-skeleton-text [animated]="true" style="width: 70%;"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
        </ion-label>
        <div class="ion-text-wrap ion-text-right" slot="end">
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>

  <!-- Actual Trades List -->
  <ng-template #tradesList>
    <ion-list>
      <ion-item-group *ngFor="let x of trades">
        <ion-item-divider sticky>
          <ion-label>{{x.date}}</ion-label>
          <small slot="end">
            <ion-text slot="end">{{x.trades.length}} trades | </ion-text>
            <ion-text [color]="x.pips<0 ? 'fall' : 'rise'">{{ (x.pips * 10) | number:'1.2-2' }} pips</ion-text>
          </small>
        </ion-item-divider>

        <ion-item [track]="trade.comment" *ngFor="let trade of x.trades">
          <ion-label>
            <h3 class="ion-align-items-center">{{trade.symbol}} <span class="ion-margin-start order-type sell" [class.sell]="trade.success === 'lost'" [class.buy]="trade.success === 'won'">{{trade.type}}</span></h3>
            <p>{{trade.openPrice}} &rarr; {{trade.closePrice}}</p>
          </ion-label>
          <div class="ion-text-wrap ion-text-right" slot="end">
            <ion-note class="pips" [color]="trade.success === 'won' ? 'rise' : 'fall'">{{ (trade.pips * 10) | number:'1.2-2' }} pips</ion-note>
            <small color="medium" class="time">{{trade.closeTime | date:'HH:mm'}}, {{trade.durationInMinutes}} min</small>
          </div>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ng-template>
</ion-content>
