<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment *ngIf="ios" [(ngModel)]="segment" [value]="segment">
      <ion-segment-button value="trades">
        Trades
      </ion-segment-button>
      <ion-segment-button value="depo">
        Withdrawal
      </ion-segment-button>
    </ion-segment>
    <ion-title *ngIf="!ios">History</ion-title>
    <ion-buttons slot="end">
      <ion-button id="filterBySymbol">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
      <ion-button id="filterByDate">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment" [value]="segment">
      <ion-segment-button value="trades">
        Trades
      </ion-segment-button>
      <ion-segment-button value="depo">
        Withdrawal
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">History</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Skeleton Loader -->
  <ng-container *ngIf="loading; else tradesList">
    <ion-list>
      <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9]">
        <ion-label>
          <ion-skeleton-text [animated]="true" style="width: 70%;"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
        </ion-label>
        <div class="ion-text-wrap ion-text-right" slot="end">
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>

  <!-- Actual Trades List -->
  <ng-template #tradesList>
    <ion-list *ngIf="trades.length > 0; else nodata">
      <ion-item-group *ngFor="let x of trades">
        <ion-item-divider sticky>
          <ion-label>{{x.date}}</ion-label>
          <small slot="end">
            <ion-text slot="end">{{x.trades.length}} trades | </ion-text>
            <ion-text [color]="x.pips<0 ? 'fall' : 'rise'">{{ x.pips | number:'1.2-2' }} pips</ion-text>
          </small>
        </ion-item-divider>

        <ion-item *ngFor="let trade of x.trades" [attr.track]="trade.comment">
          <ion-label>
            <h3 class="ion-align-items-center">{{trade.symbol}} <span class="ion-margin-start order-type"
                [class.sell]="trade.type === 'sell'" [class.buy]="trade.type === 'buy'">{{trade.type.toUpperCase()}}</span></h3>
            <p>{{trade.openPrice}} &xrarr; {{trade.closePrice}}</p>
          </ion-label>
          <div class="ion-text-wrap ion-text-right" slot="end">
            <ion-note class="pips" [color]="trade.success === 'won' ? 'rise' : 'fall'">{{ (trade.pips * 10) |
              number:'1.2-2' }} pips</ion-note>
            <small color="medium" class="time">{{trade.openTime | date:'HH:mm'}} &middot; {{trade.durationInMinutes |
              duration}}</small>
          </div>
        </ion-item>
      </ion-item-group>
    </ion-list>
    <ng-template #nodata>
      No trades
    </ng-template>
  </ng-template>
</ion-content>

<ion-popover trigger="filterBySymbol" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item button (click)="filterBySymbol = 'all'; filterTrade();" detail="false">
          <ion-label>All Symbols</ion-label>
          <ion-icon slot="end" name="checkmark" *ngIf="filterBySymbol === 'all'"></ion-icon>
        </ion-item>
        <ion-item *ngFor="let x of allSymbols; let last = last" button  detail="false" (click)="filterBySymbol = x; filterTrade();" [lines]="last ? 'none' : 'inset'">
          <ion-label>{{x}}</ion-label>
          <ion-icon slot="end" name="checkmark" *ngIf="filterBySymbol === x"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-popover trigger="filterByDate" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item detail="false" button *ngFor="let x of periods; let last = last" (click)="filterByDate = x.id; filterTrade()" [lines]="last ? 'none' : 'inset'">
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label>
            <h3>{{x.name}}</h3>
            <ion-note>{{x.range}}</ion-note>
          </ion-label>
          <ion-icon name="checkmark" slot="end" *ngIf="filterByDate === x.id"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<!-- <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
  <ng-template>
    <ion-content>
      <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)"></ion-searchbar>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Connor Smith</h2>
            <p>Sales Rep</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Daniel Smith</h2>
            <p>Product Designer</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://i.pravatar.cc/300?u=d"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Greg Smith</h2>
            <p>Director of Operations</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://i.pravatar.cc/300?u=e"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Zoey Smith</h2>
            <p>CEO</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal> -->