<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment [(ngModel)]="segment" *ngIf="ios">
      <ion-segment-button value="summary" content-id="summary">
        <ion-label>Summary</ion-label>
      </ion-segment-button>
      <ion-segment-button value="metrics" content-id="metrics`">
        <ion-label>Metrics</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-title *ngIf="!ios">Dash</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="summary" content-id="summary">
        <ion-label>Summary</ion-label>
      </ion-segment-button>
      <ion-segment-button value="metrics" content-id="metrics">
        <ion-label>Metrics</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dash</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-segment-view>
  <ion-segment-content id="summary">
    <!-- <div class="ion-margin-top ion-padding-horizontal">
      <ion-button class="ion-margin-end" size="small" fill="outline">All</ion-button>
      <ion-button class="ion-margin-end" size="small" fill="outline">30D</ion-button>
      <ion-button class="ion-margin-end" size="small" fill="outline">3M</ion-button>
      <ion-button class="ion-margin-end" size="small" fill="outline">6M</ion-button>
      <ion-button size="small" fill="outline">12M</ion-button>
    </div> -->
    <ion-card class="ion-padding-horizontal ion-margin">
      <ion-list>
        <ion-item class="ion-no-padding">
          <ion-label>
            <div>Return</div>
            <ion-note>All time</ion-note>
          </ion-label>
          <ion-text slot="end">700%</ion-text>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-label>
            <div>Trading Score</div>
            <ion-note>All time</ion-note>
          </ion-label>
          <ion-text slot="end">A+</ion-text>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-label>
            <div>Risk</div>
            <ion-note>All time</ion-note>
          </ion-label>
          <ion-text slot="end">4/10</ion-text>
        </ion-item>
        <ion-item class="ion-no-padding" lines="none">
          <ion-label>
            <div>Max Drawdown</div>
            <ion-note>All time</ion-note>
          </ion-label>
          <ion-text slot="end">50%</ion-text>
        </ion-item>
      </ion-list>
    </ion-card>

    <!-- Period Statistics -->
    <ion-list>
      <ion-list-header>
        <ion-label>Performances</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          <ngx-datatable class="material" [rows]="periods" [headerHeight]="30" [footerHeight]="0" [rowHeight]="40"
            [scrollbarV]="false" [scrollbarH]="true">
            <ngx-datatable-column name="name" [width]="120" [frozenLeft]="true">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>Period</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="tradesDifference" [width]="80">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>Trades</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <ion-text *ngIf="value; else novalue">{{ value }}</ion-text>
                <ng-template #novalue>-</ng-template>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="pipsDifference" [width]="80">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>Pips</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <ion-text *ngIf="value; else novalue" [color]="value>0 ? 'rise' : 'fall'">{{ value |
                  number:'1.2-2'}}</ion-text>
                <ng-template #novalue>-</ng-template>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="profitDifference" [width]="80">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>P/L</ion-note>
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ion-text *ngIf="value; else novalue" [color]="value>0 ? 'rise' : 'fall'">{{ value | number:'1.2-2'
                  }}<span class="unit">$</span></ion-text>
                <ng-template #novalue>-</ng-template>
                <!-- <ion-text *ngIf="row['profit']" [color]="value>0 ? 'rise' : 'fall'">
                  ({{ row['profit'] | number:'1.2-2' }}) <span class="unit">pips</span>
                </ion-text> -->
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="wonTradesPercentDifference" [width]="80">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>Won Rate</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <ion-text *ngIf="value; else novalue" [color]="value>0 ? 'rise' : 'fall'">{{ value | number:'1.2-2'
                  }}<span class="unit">%</span></ion-text>
                <ng-template #novalue>-</ng-template>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Daily Growth -->
    <ion-list>
      <ion-list-header>
        <ion-label>Daily Growth</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          <ngx-datatable class="material" [rows]="summary?.dailyGrowth" [headerHeight]="30" [footerHeight]="0"
            [rowHeight]="40" [scrollbarV]="true" [scrollbarH]="true">
            <ngx-datatable-column name="Date" [width]="120" [frozenLeft]="true">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>Date</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | moment: 'MMM DD, YY' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="lots" [width]="80">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>Lots</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <ion-text *ngIf="value; else novalue">{{ value | number:'1.2-2' }}</ion-text>
                <ng-template #novalue>-</ng-template>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Pips" [width]="80">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>Pips</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <ion-text *ngIf="value; else novalue" [color]="value>0 ? 'rise' : 'fall'">{{ value | number:'1.2-2'
                  }}</ion-text>
                <ng-template #novalue>-</ng-template>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Profit" [width]="80">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>P/L</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <ion-text *ngIf="value; else novalue" [color]="value>0 ? 'rise' : 'fall'">{{ value | number:'1.2-2'
                  }}<span class="unit">$</span></ion-text>
                <ng-template #novalue>-</ng-template>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="drawdownProfit" [width]="100">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>Drawdown</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <ion-text *ngIf="value; else novalue">
                  {{ value | number:'1.2-2' }}<span class="unit">$</span>
                </ion-text>
                <ng-template #novalue>-</ng-template>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="totalProfit" [width]="100">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>Cum. Profit</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <ion-text *ngIf="value; else novalue" [color]="value>0 ? 'rise' : 'fall'">
                  {{ value | number:'1.2-2' }}<span class="unit">$</span>
                </ion-text>
                <ng-template #novalue>-</ng-template>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Monthly Statistics -->
    <ion-list>
      <ion-list-header>
        <ion-label>Monthly Stats</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          <ngx-datatable class="material" [rows]="summary?.monthlyAnalytics" [headerHeight]="30" [footerHeight]="0"
            [rowHeight]="40" [scrollbarV]="false" [scrollbarH]="true">
            <ngx-datatable-column name="Date" [width]="120" [frozenLeft]="true">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>Date</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | moment: 'MMM YYYY' }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Trades" [width]="80">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>Trades</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Profit" [width]="100">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>P/L</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <ion-text [color]="value>0 ? 'rise' : 'fall'">{{ value | number:'1.2-2' }}<span
                    class="unit">$</span></ion-text>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Pips" [width]="100">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>Pips</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <ion-text [color]="value>0 ? 'rise' : 'fall'">{{ value | number:'1.2-2' }}</ion-text>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="rewardToRiskRatio" [width]="80">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>RR</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <ion-text [color]="value>0 ? 'rise' : 'fall'">{{ value | number:'1.2-2' }}</ion-text>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="averageHoldingTimeLongs" [width]="100">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>Aver. Long</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <ion-text *ngIf="value; else novalue">
                  {{ (value / 1000 / 60 / 60) | number:'1.0-0' }}h {{ ((value / 1000 / 60) % 60) | number:'1.0-0' }}m
                </ion-text>
                <ng-template #novalue>-</ng-template>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="averageHoldingTimeShorts" [width]="100">
              <ng-template let-column="column" ngx-datatable-header-template>
                <ion-note>Aver. Shorts</ion-note>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <ion-text *ngIf="value; else novalue">
                  {{ (value / 1000 / 60 / 60) | number:'1.0-0' }}h {{ ((value / 1000 / 60) % 60) | number:'1.0-0' }}m
                </ion-text>
                <ng-template #novalue>-</ng-template>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-segment-content>
  <ion-segment-content id="metrics">
    <ion-list>
      <ion-item-divider>
        <ion-label>Trading Ability <ion-note class="grade"
            [class]="metrics?.trade.grade.toLowerCase()">{{metrics?.trade.grade}}</ion-note></ion-label>
        <!-- <ion-button slot="end" size="small" fill="clear" color="medium">
          <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
        </ion-button> -->
      </ion-item-divider>

      <div class="summary ion-margin-bottom">
        <div id="trade" class="gauge-chart ion-text-center"></div>
        <ion-card class="box ion-margin-horizontal ion-padding">
          <div>
            <small>Trades</small>
            <ion-card-title>{{metrics?.trade.tradesPerDay | number:'1.2-2'}}<span
                class="unit">/day</span></ion-card-title>
          </div>
          <div>
            <small>Won Trade</small>
            <ion-card-title>{{metrics?.trade.wonTradesPercent | number:'1.2-2'}}<span
                class="unit">%</span></ion-card-title>
          </div>
          <div>
            <small>Average Trade</small>
            <ion-card-title>{{metrics?.trade.averageTradeLengthInMilliseconds | date:'HH mm'}}</ion-card-title>
          </div>
        </ion-card>
      </div>

      <ion-item-divider>
        <ion-label>Return, P/L<ion-note class="grade"
            [class]="metrics?.return.grade.toLowerCase()">{{metrics?.return.grade}}</ion-note></ion-label>
      </ion-item-divider>
      <div class="summary ion-margin-bottom">
        <div id="return" class="gauge-chart ion-text-center"></div>
        <ion-card class="box ion-margin-horizontal ion-padding">
          <div>
            <small>CAGR</small>
            <ion-card-title>{{metrics?.return?.cagr | number:'1.2-2'}}</ion-card-title>
          </div>
          <div>
            <small>Total Profit</small>
            <ion-card-title>{{metrics?.return?.profit | number:'1.2-2'}}<span class="unit">$</span></ion-card-title>
          </div>
          <div>
            <small>Expectancy</small>
            <ion-card-title>{{metrics?.return?.expectancy | number:'1.2-2'}}</ion-card-title>
          </div>
        </ion-card>
      </div>

      <ion-item-divider>
        <ion-label>Risk Management <ion-note class="grade"
            [class]="metrics?.risk.grade.toLowerCase()">{{metrics?.risk.grade}}</ion-note></ion-label>
      </ion-item-divider>
      <div class="summary ion-margin-bottom">
        <div id="risk" class="gauge-chart ion-text-center"></div>
        <ion-card class="box ion-margin-horizontal ion-padding">
          <div>
            <small>Max DD</small>
            <ion-card-title>{{metrics?.risk?.maxDrawdown | number:'1.2-2'}}<span class="unit">%</span></ion-card-title>
          </div>
          <div>
            <small>Profit Factor</small>
            <ion-card-title>{{metrics?.risk?.profitFactor | number:'1.2-2'}}</ion-card-title>
          </div>
          <div>
            <small>Z-Score</small>
            <ion-card-title>{{metrics?.risk?.zScore | number:'1.2-2'}}</ion-card-title>
          </div>
        </ion-card>
      </div>

      <ion-item-divider>
        <ion-label>Trade Execution <ion-note class="grade"
            [class]="metrics?.execution.grade.toLowerCase()">{{metrics?.execution.grade}}</ion-note></ion-label>
      </ion-item-divider>
      <div class="summary ion-margin-bottom">
        <div id="execution" class="gauge-chart ion-text-center"></div>
        <ion-card class="box ion-margin-horizontal ion-padding">
          <div>
            <small>Average Win</small>
            <ion-card-title>{{metrics?.execution?.averageWin | number:'1.2-2'}}<span
                class="unit">%</span></ion-card-title>
          </div>
          <div>
            <small>Average Loss</small>
            <ion-card-title>{{metrics?.execution?.averageLoss | number:'1.2-2'}}<span
                class="unit">%</span></ion-card-title>
          </div>
          <div>
            <small>RR Ratio</small>
            <ion-card-title>{{metrics?.execution?.rrRatio | number:'1.2-2'}}</ion-card-title>
          </div>
        </ion-card>
      </div>

      <ion-item-divider>
        <ion-label>Diversification and Exposure <ion-note class="grade"
            [class]="metrics?.diversification.grade.toLowerCase()">{{metrics?.diversification.grade}}</ion-note></ion-label>
      </ion-item-divider>
      <div class="summary ion-margin-bottom">
        <div id="exposure" class="gauge-chart ion-text-center"></div>
        <ion-card class="box ion-margin-horizontal ion-padding">
          <div>
            <small>Pair Variety</small>
            <ion-card-title>{{metrics?.diversification?.currencyVariety}}</ion-card-title>
          </div>
          <div>
            <small>Long vs. Short Ratio</small>
            <ion-card-title>{{metrics?.diversification?.longShortRatio | number:'1.2-2'}}</ion-card-title>
          </div>
          <div>
            <small>Total Lots</small>
            <ion-card-title>{{metrics?.diversification?.lots | number:'1.2-2'}}</ion-card-title>
          </div>
        </ion-card>
      </div>

      <!-- <ion-grid [fixed]="true" class="ion-margin-bottom">
        <ion-row>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card class="ion-padding ion-no-margin">
              <small>TRADES</small>
              <ion-card-title>{{metrics?.trades}}</ion-card-title>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card class="ion-padding ion-no-margin">
              <small>DAYS</small>
              <ion-card-title>{{metrics?.daysSinceTradingStarted | number:'1.2-2'}}</ion-card-title>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card class="ion-padding ion-no-margin">
              <small>AVERAGE WIN</small>
              <ion-card-title>{{metrics?.averageWinPips | number:'1.2-2'}}</ion-card-title>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card class="ion-padding ion-no-margin">
              <small>AVERAGE LOSS</small>
              <ion-card-title>{{metrics?.averageLossPips | number:'1.2-2'}}</ion-card-title>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card class="ion-padding ion-no-margin">
              <small>BEST TRADE</small>
              <ion-card-title>{{metrics?.bestTradePips | number:'1.2-2'}}</ion-card-title>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card class="ion-padding ion-no-margin">
              <small>WORST TRADE</small>
              <ion-card-title>{{metrics?.worstTradePips | number:'1.2-2'}}</ion-card-title>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card class="ion-padding ion-no-margin">
              <small>PROFIT FACTOR</small>
              <ion-card-title>{{metrics?.profitFactor | number:'1.2-2'}}</ion-card-title>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card class="ion-padding ion-no-margin">
              <small>STANDARD DEVIATION</small>
              <ion-card-title>{{metrics?.standardDeviationProfit | number:'1.2-2'}}</ion-card-title>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card class="ion-padding ion-no-margin">
              <small>EXPECTANCY</small>
              <ion-card-title>{{metrics?.expectancy | number:'1.2-2'}}</ion-card-title>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card class="ion-padding ion-no-margin">
              <small>PROBABILITY</small>
              <ion-card-title>{{metrics?.probability | number:'1.2-2'}}</ion-card-title>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card class="ion-padding ion-no-margin">
              <small>SHARPE RATIO</small>
              <ion-card-title>{{metrics?.sharpeRatio | number:'1.2-2'}}</ion-card-title>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card class="ion-padding ion-no-margin">
              <small>CAGR</small>
              <ion-card-title>{{metrics?.cagr | number:'1.2-2'}}</ion-card-title>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid> -->

      <!-- <ion-item-divider>
        <ion-label>Stats</ion-label>
        <ion-button slot="end" size="small" fill="clear" color="medium">
          <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item-divider>

      <ion-item>
        <ion-label>Profit Factor</ion-label>
        <ion-note slot="end">{{metrics?.profitFactor}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Standard Deviation</ion-label>
        <ion-note slot="end">{{metrics?.standardDeviationProfit}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Expectancy</ion-label>
        <ion-note slot="end">{{metrics?.expectancy}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Probability</ion-label>
        <ion-note slot="end">{{metrics?.probability}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Sharpe Ratio</ion-label>
        <ion-note slot="end">{{metrics?.sharpeRatio}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>CAGR</ion-label>
        <ion-note slot="end">{{metrics?.cagr}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Z-SCORE</ion-label>
        <ion-note slot="end">{{metrics?.zScore}}</ion-note>
      </ion-item> -->
    </ion-list>
  </ion-segment-content>
</ion-segment-view>